:root {
    --main: #3883bc;
    --secondary: #198754;
    --black: #000;
    --white: #fff;
}

body {
    background-color: #000;
}

.navbar {
    background-color: var(--main) !important;
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
}

.navbar-nav .nav-link{
    color: #fff !important; 
    font-size: 18px;
}


.box {
    background-color: #fff;
    margin-top: 120px;
    border-radius: 10px;
    height: 340px;
    width: 420px;
}

.box-title {
    color: var(--main);
    padding-left: 20px;
    font-weight: 500;
    font-size: 36px;
}

.box-text-label {
    padding-left: 20px;
    color: #000;
    font-size: 20px;
}

.box-text {
    margin-left: 20px;
    width: 165%;
    height: 50px;
    color: var(--secondary);
    border: 2px solid var(--main);
}

.submit-button {
    margin-top: 20px;
    margin-left: 10px;

    width: 175%;
    border-radius: 75px;
    padding-top: 8px;
    line-height: 50px;
    font-size: 20px;
}


.fake-text-boxf {
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
    width: 90%;
    height: 50px;
    color: gray;
    border-radius: 5px;
    border: 2px solid var(--main);
}

.fake-text-box {
    margin-left: 20px;
    padding: 10px;
    width: 90%;
    min-height: 50px; /* Change to min-height to allow the box to expand if needed */
    color: gray;
    border-radius: 5px;
    border: 2px solid var(--main);
    overflow: auto; /* Add overflow property to enable scrolling for overflowed content */
    white-space: nowrap; /* Add white-space property to prevent text wrapping */
}
