<!DOCTYPE html>
<html>
    <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   <!-- Bootstrap JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
   <!-- My CSS -->
   <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
   <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> 
   <title>Short Link | Home</title>        
    </head>
    <body>
        <br>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Short Link</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">My URLS</a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Plans</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Features
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="container">
            <div class="row">
              <div class="col d-flex justify-content-center align-items-center">
                <div class="box">
                  <p class="box-title"><i class="fa-solid fa-link" style="padding-right: 10px;"></i>Shorten a Long URL</p>
                  <hr style="color: #ebc1d6;">

                  <form method="POST" action="/make-short-url">
                    <label for="longUrl">
                      <div class="box-text-label">Put long url</div>
                      <input type="text" id="longUrl" placeholder="Put a long url" class="box-text">
                    <label>
                    
                  </form>
                </div>

              </div>
            </div>
          </div>


    </body>
    <script src="https://kit.fontawesome.com/a72666f150.js" crossorigin="anonymous"></script>
</html>